.footer-links {
    list-style-type: none;
}

.footer-links li a {
    display: block;
    text-transform: uppercase;
    color: #656565;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.footer-links a:hover {
    color: #fff;
}

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
}

.post-stub p {
    clear: both;
    padding-right:22px;
    margin-bottom:0px;
}

.post-stub p:hover {
    padding-right:10px;
}

.post-stub-date:before {
    content: "";
}

.post-stub-date {
    float: right;
}